<div class="about-container-fluid">
  <div class="we-are-title">
    <p>CHÚNG TÔI LÀ HELIOS!</p>
  </div>
</div>
<div class="about-container-full">
  <div class="we-are_img">
    <div class="we-are_img-item">
      <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/DEJA2226.jpg?v=1709203072" />
    </div>
    <div class="we-are_img-item">
      <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/LTN_9_1.jpg?v=1709203072" />
    </div>
    <div class="we-are_img-item">
      <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/DEJA1569.jpg?v=1709203072" />
    </div>
    <div class="we-are_img-item">
      <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/DEJA2183.jpg?v=1709203073" />
    </div>
    <div class="we-are_img-item">
      <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/DEJA1855.jpg?v=1709203072" />
    </div>
    <div class="we-are_img-item">
      <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/DEJA1707.jpg?v=1709203155" />
    </div>
  </div>
</div>
<div class="about-container-fluid">
  <div class="we-are-title">
    <p>Thiết kế độc nhất, chế tác thủ công, mỗi tác phẩm là một câu chuyện riêng biệt.</p>
  </div>
  <div class="we-are-des text-center">
    <p>Hãy để phụ kiện là điểm nhấn cuối cùng cho outfit của bạn!
    </p>
  </div>
</div>
<div class="about-container-full">
  <div class="we-are-title text-center mt-100">
    <p>NAM TÍNH VÀ MẠNH MẼ</p>
  </div>
  <div class="we-are_img">
    <div class="we-are_img-item">
      <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/DSC02494.jpg?v=1709260942" loading="lazy"/>
    </div>
    <div class="we-are_img-item">
      <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/DSC00039.jpg?v=1709260943" loading="lazy"/>
    </div>
    <div class="we-are_img-item">
      <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/DSC00015.jpg?v=1709260944" loading="lazy"/>
    </div>
  </div>
  <div class="we-are-title text-center mt-100">
    <p>TÁO BẠO VÀ ĐỘC NHẤT</p>
  </div>
  <div class="flex">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/dsc02180-2_optimized.webp?v=1709262209" loading="lazy"/></div>
        <div class="swiper-slide"><img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/dsc02287_optimized.webp?v=1709262209" loading="lazy"/></div>
        <div class="swiper-slide"><img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/dsc03465_optimized_1.webp?v=1709262209" loading="lazy"/></div>
        <div class="swiper-slide"><img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/mu-05_optimized_1.webp?v=1709262209" loading="lazy"/></div>
        <div class="swiper-slide"><img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/dsc02777_optimized_1.webp?v=1709262209" loading="lazy"/></div>
        <!-- <div class="swiper-slide">Slide 6</div>
        <div class="swiper-slide">Slide 7</div>
        <div class="swiper-slide">Slide 8</div>
        <div class="swiper-slide">Slide 9</div> -->
      </div>
    </div>
  </div>
  <div class="we-are-title text-center mt-100">
    <p>TRẦM ỔN</p>
  </div>
  <div class="we-are_img">
    <div class="we-are_img-item">
      <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/clasic_optimized.webp?v=1709263150" loading="lazy"/>
    </div>
    <div class="we-are_img-item">
      <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/dsc02991_optimized.webp?v=1709263150" loading="lazy"/>
    </div>
    <!-- <div class="we-are_img-item">
      <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/img_9870_optimized.webp?v=1709263151" />
    </div> -->
  </div>
</div>
<div class="about-container-full">
  <div class="we-are-title text-center mt-100">
    <p>HELIOS - CHÚNG TÔI LÀ AI?</p>
  </div>
  <div class="image-with_content">
    <div class="we-are_img">
    </div>
    <div class="we-are_content-right">
      <p>
        Thành lập từ năm 2016, Helios là thương hiệu phụ kiện thời trang mang đến những chế tác thủ công độc nhất và khác biệt. Không chỉ đồng hành với người đàn ông trên hành trình khám phá, thể hiện phong cách cá nhân, Helios luôn nỗ lực lan tỏa niềm đam mê và sự yêu thích đối với tác phẩm được làm bởi người Việt, đồng thời đưa tác phẩm ấy vươn ra thế giới một cách mạnh mẽ và đầy tự hào.
      </p>
      <p>
        <b>Mạnh mẽ! Táo bạo! Độc nhất!</b>
        <br>
        Đây là tinh thần cốt lõi Helios luôn hướng đến và thể hiện qua mỗi sản phẩm. Lấy cảm hứng từ những câu chuyện xoay quanh cuộc sống người đàn ông, chúng tôi làm nên các chế tác độc đáo, mang dấu ấn riêng và không thể gặp ở bất cứ đâu.
      </p>
    </div>
  </div>
</div>
<div class="about-container-full">
  <div class="we-are-title text-center mt-100">
    <p>ĐIỀU GÌ TẠO NÊN HELIOS?</p>
  </div>
  <div class="image-with_content">
    <div class="we-are_content-left">
      <p>
        <b>CHUẨN</b>
        <br>
        Mang trong mình niềm đam mê với trang sức thủ công, Helios không ngừng lắng nghe và hoàn thiện mình qua từng ngày, từ đó đem tới cho khách hàng trải nghiệm, dịch vụ và sản phẩm CHUẨN cam kết.
      </p>
      <p>
        <b>CHẤT</b>
        <br>
        Khác so với nhiều thương hiệu trên thị trường, chúng tôi lấy cảm hứng từ mọi khía cạnh trong cuộc sống, kết hợp chúng với tư duy táo bạo để tạo nên những sản phẩm độc đáo, mang phong cách mạnh mẽ và chất ngầu.</p>
    </div>
    <div class="we-are_img">
    </div>
  </div>
</div>
<div class="about-container-full">
  <div class="we-are-title text-center mt-100">
    <p>HÀNH TRÌNH CỦA HELIOS TRONG 5 NĂM TỚI?</p>
  </div>
  <div class="image-with_content">
    <div class="we-are_img">
    </div>
    <div class="we-are_content-right">
      <p>
        Những năm trở lại đây, ngành hàng thủ công tại Việt Nam đã bắt đầu vươn ra thị trường nước ngoài. Tuy nhiên, so với các thương hiệu quốc tế cùng ngành, sức cạnh tranh của thương hiệu Việt vẫn còn thấp.
      <p>
        <p>
      Thực trạng này xuất phát từ nhiều nguyên nhân, trong đó đáng chú ý nhất là sự thiếu đầu tư trong khâu thiết kế mẫu mã. Đặc biệt, việc sao chép và bắt chước các thương hiệu nước ngoài càng lãng phí giá trị thực sự và tiềm năng sáng tạo của ngành hàng thủ công Việt Nam. 
      </p>
    </div>
  </div>
</div>
<div class="about-container-small">
  <div class="we-are-title-2 text-center mt-100">
    <p style="font-style: italic">Tâm huyết với những chế tác được tạo ra từ đôi bàn tay thuần Việt, Helios mong muốn khẳng định giá trị của chúng với cộng đồng quốc tế, đưa mặt hàng vươn ra thế giới một cách mạnh mẽ và đầy tự hào.</p>
  </div>
</div>
<div class="about-container-full">
    <div class="about-card">
      <div class="we-are-title text-left about-card_item">
          DESIGN
      </div>
      <div class="about-card_item">
        <div class="about-card_item_img">
          <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/bAn-vE-nhAn-sunflower-4x5_optimized.webp?v=1709267771" loading="lazy" />
        </div>
        <div class="about-card_item_content">
          <p style="font-weight: bold">NGUỒN CẢM HỨNG</p>
          <p>Khai thác những khía cạnh xoay quanh người đàn ông, Helios tìm kiếm một hình ảnh biểu tượng có sự kết nối mạnh mẽ đến câu chuyện của họ.</p>
          <p style="font-weight: bold">PHÁC THẢO</p>
          <p>Dựa trên biểu tượng chủ đạo, đội ngũ thiết kế bắt đầu phác những hình ảnh đầu tiên trên bản vẽ giấy. Đường nét cách điệu cần phải truyền tải đúng tinh thần của ý tưởng, cũng thể hiện dấu ấn đặc trưng chỉ Helios mới có.</p>
          <p style="font-weight: bold">MÔ HÌNH 3D</p>
          <p>Từ bản phác thảo vẽ tay, nhóm thiết kế kỹ thuật số tạo ra mô hình 3D với sự hỗ trợ của phần mềm đồ họa. Mô hình này sau đó được in phôi 3D với vật liệu lỏng dạng sáp, phục vụ chuyên biệt cho lĩnh vực đúc kim loại. Phôi sáp in xong chính là khuôn mẫu nguyên bản của chế tác.</p>
        </div>
      </div>
      <div class="about-card_item">
        <div class="about-card_item_img">
          <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/mg_8070_optimized.webp?v=1709267770" loading="lazy" />
        </div>
        <div class="about-card_item_content">
          <p style="font-weight: bold">XƯỞNG BẠC KHÉP KÍN</p>
          <p>Tại xưởng bạc khép kín, người thợ của Helios tiến hành quy trình tạo khuôn từ cây sáp. Sử dụng bạc S925 cao cấp, đun nóng chảy rồi rót vào khuôn để tạo nên cây bạc, mỗi nhánh tương ứng với một sản phẩm. Khi đã có được cây bạc, lần lượt mỗi nhánh được tách rời,  trải qua các công đoạn mài dũa - đánh bóng - xi đen.</p>
          <p>Toàn bộ quá trình được thực hiện cẩn thận và tỉ mỉ bằng đôi tay người thợ lành nghề. Vì thế, mỗi sản phẩm là duy nhất, chắc chắn không thể có bản thứ hai giống y hệt.</p>
        </div>
      </div>
      <div class="about-card_item">
        <div class="about-card_item_img">
          <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/dsc07841_optimized.webp?v=1709267770" loading="lazy" />
        </div>
        <div class="about-card_item_content">
          <p style="font-weight: bold">CHẾ TÁC HOÀN THIỆN</p>
          <p>Khi công đoạn sản xuất đã hoàn thành, bộ phận chất lượng tiến hành kiểm tra và đánh giá từng sản phẩm, đảm bảo cả về mặt nhìn cũng như trải nghiệm thực tế khi sử dụng.</p>
        </div>
      </div>
    </div>
</div>
<div class="about-container-full">
  <div class="we-are-title text-left mt-100">
    <p>OUR STORES</p>
  </div>
  <div class="our-store">
    <div class="our-store_img flex">
      <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/z5207452630221_e0dfcd567e97fc9e4789ce9d46512085_optimized.webp?v=1709346888" loading="lazy" />
    </div>
    <div class="our-store_content">
      <p style="font-weight: bold">STORE LÊ THANH NGHỊ</p>
      <p>4/104 Lê Thanh Nghị, Q. Hai Bà Trưng, Hà Nội.
       <br> Hotline: 0964 302 899
       <br> Mở cửa: T2 - CN, 08:30 - 22:00
      </p>
      <button class="our-store_btn">
        <a href="tel:0964302899">Liên hệ</a>
      </button>
      <button class="our-store_btn">
        <a href="tel:0964302899">Chỉ đường</a>
      </button>
    </div>
  </div>
  <div class="our-store mt-30">
    <div class="our-store_img flex">
      <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/deja2007_optimized_1.jpg?v=1709280446" loading="lazy" />
    </div>
    <div class="our-store_content">
      <p style="font-weight: bold">STORE BÀ HẠT</p>
      <p>371 Bà Hạt, Phường 4, Quận 10, TP. Hồ Chí Minh.
       <br> Hotline: 0794 302 899
       <br> Mở cửa: T2 - CN, 08:30 - 22:00
      </p>
      <button class="our-store_btn">
        <a href="tel:0794302899">Liên hệ</a>
      </button>
      <button class="our-store_btn">
        <a href="tel:0794302899">Chỉ đường</a>
      </button>
    </div>
  </div>
  <div class="our-store mt-30">
    <div class="our-store_img flex">
      <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/img_7769-_1__optimized.webp?v=1709280998" loading="lazy" />
    </div>
    <div class="our-store_content">
      <p style="font-weight: bold">STORE NGUYỄN TRÃI</p>
      <p>672 Nguyễn Trãi, Q. Thanh Xuân, Hà Nội.
       <br> Hotline: 0395 302 899
       <br> Mở cửa: T2 - CN, 08:30 - 22:00
      </p>
      <button class="our-store_btn">
        <a href="tel:0395302899">Liên hệ</a>
      </button>
      <button class="our-store_btn">
        <a href="tel:0395302899">Chỉ đường</a>
      </button>
    </div>
  </div>
  <div class="our-store mt-30">
    <div class="our-store_img">
      <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/the-new_optimized.webp?v=1709270005" loading="lazy" />
    </div>
    <div class="our-store_content">
      <p style="font-weight: bold">THE NEW PLAYGROUND</p>
      <p>The New Playground, đối diện 98 Lê Lai, Phường Phạm Ngũ Lão, Quận 1, TP. Hồ Chí Minh.
       <br> Hotline: 0336 302 899
       <br> Mở cửa: T2 - CN, 09:30 - 21:30
      </p>
      <button class="our-store_btn">
        <a href="tel:0336302899">Liên hệ</a>
      </button>
      <button class="our-store_btn">
        <a href="tel:0336302899">Chỉ đường</a>
      </button>
    </div>
  </div>
</div>

<style>
  .our-store_img.flex img {
    width: 100%;
  }
  .our-store {
    display: grid;
    grid-template-columns: 77% 23%;
    gap: 25px;
  }
  .about-container-fluid {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
  }
  .about-container-full {
    max-width: 2000px;
    width: 95%;
    margin: 0 auto;
  }
  .about-container-small {
    width: 1200px;
    margin: 0 auto;
    padding: 0 100px;
  }
  .we-are-title {
    font-size: 2.3em;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
    text-transform: uppercase;
  }
  .we-are-title-2 {
    font-size:1.2em;
    font-weight: bold;
    text-align: center;
    line-height: 1.3;
  }
  .we-are_img, .about-card {
    display: flex;
    gap: 5px;
  }
  .about-card {
    margin-top: 150px;
  }
  .we-are_img-item {
    width: 100%;
    height: 100%;
  }
  .about-card_item {
    width: 25%;
  }
  .text-center {
    text-align: center!important;
  }
  .text-left {
    text-align: left!important;
  }
  .mt-30 {
    margin-top: 30px;
  }
  .mt-100 {
    margin-top: 100px;
  }
  .flex {
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  /* Swiper slide */
  .swiper {
      width: 550px;
      height: auto;
    }
    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 18px;
      font-size: 22px;
      font-weight: bold;
      color: #fff;
    }
  .image-with_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1200px;
    margin: 0 auto;
  }
  .we-are_content-right {
    width: 100%;
    padding-right: 100px;
    text-align: justify;
  }
  .we-are_content-left {
    width: 100%;
    padding-left: 100px;
    text-align: justify;
  }
  .about-card_item_content {
    padding: 0 15px;
    text-align: justify;
  }
/* Mobile responsive */
@media screen and (max-width:991px) {
  .swiper {
      width: 60%;
    }
  .image-with_content {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .we-are_content-left {
    padding-left: 0;
  }
  .we-are_content-right {
    padding-right: 0;
  }
  .about-container-small {
    width: 100%;
    padding: 0 10px;
  }
  .about-card {
    flex-wrap: wrap;
  }
  .about-card_item {
    width: 100%;
  }
  .our-store {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .we-are-title {
    font-size: 1.7em;
  }
}
</style>
<!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      effect: "cards",
      grabCursor: true,
    });
  </script>
</div>