<div class="section-1">
  <div class="wave_wrap">
    <div class="home"> <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/nha-1-min.png?v=1729222004" alt="" class="img-fluid"></div>
    <div class="puppet_1"> <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/Untitled_Artwork-1_4-min.png?v=1729221995" class="img-fluid" alt=""></div>
    <div class="puppet_2"> <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/Untitled_Artwork-1_4-min.png?v=1729221995" class="img-fluid" alt=""></div>
    <div class="puppet_3"> <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/Untitled_Artwork-1_4-min.png?v=1729221995" class="img-fluid" alt=""></div>
    <div class="cloud_1"> <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/may-3-min.png?v=1729221994" class="img-fluid" alt=""></div>
    <div class="cloud_2"> <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/may-1-min.png?v=1729221994" class="img-fluid" alt=""></div>
    <div class="cloud_3"> <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/may-2-min_df66b4ee-4bdf-4152-aa91-d183b12f523e.png?v=1729228459" class="img-fluid" alt=""></div>
    <div class="cloud_4"> <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/may-2-min-flip.png?v=1729228505" class="img-fluid" alt=""></div>
    <div class="wave1"> <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/song-2-min-flip.png?v=1729226827" class="img-fluid" alt=""></div>
    <div class="wave2"> <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/song-2-min.png?v=1729226848" class="img-fluid" alt=""></div>
    <div class="wave3"> <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/Untitled_Artwork_5-min.png?v=1729235565" class="img-fluid" alt=""></div>
    <div class="wave4 d-none md-block"> <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/song-2-min.png?v=1729226848" class="img-fluid" alt=""></div>
    <div class="wave5 d-none md-block"> <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/song-2-min-flip.png?v=1729226827" class="img-fluid" alt=""></div>
    <div class="center d-none md-block">
      <div class="horror-text">HALLOWEEN<span>2024</span></div>
    </div>
  </div>
</div>
<div class="section-2">
  <div class="wave_wrap">
    <div class="wave1_1"> <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/song-2-min-flip.png?v=1729226827" class="img-fluid" alt=""></div>
    <div class="wave2_2"> <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/song-2-min-flip.png?v=1729226827" class="img-fluid" alt=""></div>
    <div class="wave3_3"> <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/song-3-min-1-2.png?v=1729237068" class="img-fluid" alt=""></div>
    <div class="home_2"> <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/nha-1-min.png?v=1729222004" alt="" class="img-fluid"></div>
  </div>
    <div class="container-hlw">
      <div class="row">
        <div class="col-md-7 order-md-2">
          <div class="title_light">HỒN VIỆT TRONG NGHỆ THUẬT RỐI NƯỚC <span>NHỮNG KHÍA CẠNH CHƯA KỂ</span></div>
            <p>Bộ môn rối nước là nơi khai mở đời sống tinh thần huyền ảo trên mặt nước, lưu giữ tinh hoa văn hóa Việt qua nhiều thế kỷ. Từ những vở diễn nơi con rối là người kể chuyện trên nước, khán giả được đắm chìm trong không gian sống động, đầy màu sắc của những chuyện xưa tích cũ.</p>
            
            <div class="row margin-5">
              <div class="col-sm-6 padding-5"><img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/DSC03359.jpg?v=1728883106" alt="" /></div>
              <div class="col-sm-6 padding-5"><img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/ConceptHLWvuong2.jpg?v=1728881548" alt="" /></div>
            </div>
              <p>Con rối nước - sứ giả của nghệ thuật dân gian - luôn mang đến những giây phút thỏa mãn, vui vẻ trong từng vở diễn. Dẫu vậy, sâu dưới làn nước mờ ảo huyễn hoặc, liệu con rối có thực sự phản chiếu sự tốt đẹp tự nhiên, hay chỉ trở nên hoàn mỹ nhờ vào sự kiểm soát khéo léo?</p>
          </div>
          <div class="col-md-5 order-md-1">
            <div class="puppet"> <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/Untitled_Artwork-1_4-min.png?v=1729221995" class="img-fluid" alt=""></div>
          </div>
        </div>
      </div>
</div>
<div class="section-3">
  <div class="container-hlw">
                <div class="top_content">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="title_light text-center"> HUYỄN - CHẾ TÁC NHỎ CHỨA ĐỰNG<span> CÂU CHUYỆN LỚN </span></div>
                            <p>Lấy cảm hứng từ bộ môn nghệ thuật dân gian múa rối nước, Helios đã sáng tạo và phát triển nên chế tác Huyễn - sản phẩm đặc biệt dành cho Halloween 2024.</p>
                            <p>Huyễn khắc hoạ hình tượng hai mặt của con rối - một lành lặn, một nứt vỡ, là tấm gương phản ánh mâu thuẫn nội tại trong mỗi người. Từ đây, chiếc nhẫn khơi gợi triết lý sâu sắc của cuộc đời, nơi mỗi con người đều mang trong mình hai bản thể đối lập: thiện - ác.</p>
                        </div>
                        <div class="col-md-7"> 
                            <video width="100%" height="100%" autoplay muted playsinline>
                              <source src="https://cdn.shopify.com/videos/c/o/v/bb76451ce34c4364a26faa1970f4dec7.mp4" type="video/mp4" />
                            </video>
                        </div>
                    </div>
                <div class="bottom_content">
                    <div class="row">
                        <div class="col-md-6"> <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/DSC03998_1.jpg?v=1729242563" class="img-fluid" alt=""></div>
                        <div class="col-md-6">
                            <div class="text-content">
                                <p>Qua tấm gương huyễn hoặc, thiện hay ác, tích cực hay tiêu cực, đó đều là do cách nhìn của bạn. Bàn tay vươn ra từ giếng nước đại diện cho sự trỗi dậy của một phần bản ngã, đồng thời là biểu tượng cho sự cân bằng giữa hai thái cực. Qua lăng kính cá nhân, mọi chuyện sẽ diễn ra theo cách mà bạn nhìn nhận – mọi thứ đều là lựa chọn của chính bạn.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
  </div>
</div>
<style>
@font-face {
  font-family: 'iCielBCPortico-Regular';
  src: url('https://cdn.shopify.com/s/files/1/0644/2958/8701/files/iCielBCPortico-Regular.woff2?v=1729262359') format('woff2');  
  font-style: normal;
  }
@font-face {
  font-family: 'iCielBCGrindstone-Regular';
  src: url('https://cdn.shopify.com/s/files/1/0644/2958/8701/files/icielbcgrindstonedisplay-regular-webfont.woff?v=1729262719') format('woff2');  
  font-style: normal;
  }

.d-none {
  display: none;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
.section-1 {
    position: relative;
    background: url(//cdn.shopify.com/s/files/1/0644/2958/8701/files/z5942783537244_be4baf746934b573ea9e0332c1aeb01f.jpg?v=1729239549) repeat left center;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
.section-2 {
  position: relative;
  width: 100vw;
  /* height: calc(100vh - var(--nav-height)); */
  background: url(//cdn.shopify.com/s/files/1/0644/2958/8701/files/z5942783537244_be4baf746934b573ea9e0332c1aeb01f.jpg?v=1729239549) repeat left center;
  color: #efe3b9;
  padding-top: 150px;
  padding-bottom: 100px;
  overflow: hidden;
}
.section-3 {
    background: url(//cdn.shopify.com/s/files/1/0644/2958/8701/files/z5942783537244_be4baf746934b573ea9e0332c1aeb01f.jpg?v=1729239549) repeat center center/cover;
    padding-top: 200px;
    color: #efe3b9;
    padding-bottom: 50px;
    margin-bottom: 50px;
}
.home {
    display: flex;
    justify-content: center;
    max-width: 1350px;
    margin: 0 auto;
}
.home img {
  width: 100%;
  height: auto;
}
.puppet_1 {
    position: absolute;
    bottom: 50px;
    max-width: 330px;
    right: 600px;
    z-index: 1;
}
.puppet_2 {
  position: absolute;
  bottom: 100px;
  max-width: 330px;
  right: 390px;
  z-index: 2;
}
.puppet_3 {
  position: absolute;
  bottom: 50px;
  max-width: 330px;
  right: 180px;
  z-index: 1;
}
.wave1 {
    position: absolute;
    bottom: 0;
    left: -200px;
    z-index: 3;
    -webkit-animation-name: wave1;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-name: wave1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.wave1 img {
    width: 1700px;
}
.wave2 img {
    width: 1500px;
}
.wave2 {
    position: absolute;
    bottom: 0;
    right: -250px;
    z-index: 4;
    -webkit-animation-name: wave2;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-name: wave2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.wave3 {
    position: absolute;
    left: -50px;
    bottom: -261px;
    z-index: 3;
    -webkit-animation-name: wave3;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-name: wave3;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.cloud_2 {
    position: absolute;
    bottom: -130px;
    right: 210px;
    z-index: 5;
    -webkit-animation-name: cloudpage2;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-name: cloudpage;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    pointer-events: none;
}
.cloud_1 {
    position: absolute;
    bottom: -120px;
    left: 70px;
    z-index: 5;
    -webkit-animation-name: cloudpage;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: cloudpage;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    pointer-events: none;
}
.cloud_1 img, .cloud_2 img {
  width: 700px;
}
.cloud_3 {
    position: absolute;
    bottom: 650px;
    right: 370px;
    -webkit-animation-name: cloudpage;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: cloudpage3;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    pointer-events: none;
}
.cloud_3 img {
  width: 250px;
}
.cloud_4 {
    position: absolute;
    bottom: 430px;
    left: 370px;
    -webkit-animation-name: cloudpage4;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: cloudpage4;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    pointer-events: none;
}
.cloud_4 img {
  width: 230px;
}
.title_light span {
    display: block;
    font-family: "iCielBCGrindstone-Regular",Arial;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 1px;
    position: relative;
}
@keyframes cloudpage {
    0% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0)
    }

    50% {
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px)
    }

    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0)
    }
}
@keyframes cloudpage2 {
    0% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0)
    }

    50% {
        transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px)
    }

    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0)
    }
}
@keyframes wave1 {
    0% {
        left: -200px
    }

    50% {
        left: -170px
    }

    100% {
        left: -200px
    }
}
@keyframes wave2 {
    0% {
        right: -250px;
    }

    50% {
        right: -220px
    }

    100% {
        right: -250px
    }
}
@keyframes wave3 {
    0% {
        left: -50px
    }

    50% {
        left: -20px
    }

    100% {
        left: -50px
    }
}
@keyframes cloudpage4 {
    0% {
        left: 370px
    }

    50% {
        left: 400px
    }

    100% {
        left: 370px
    }
}
@keyframes cloudpage3 {
    0% {
        right: 370px;
    }

    50% {
        right: 400px
    }

    100% {
        right: 370px
    }
}
@keyframes wave1_1 {
    0% {
        left: -20px
    }

    50% {
        left: 0px
    }

    100% {
        left: -20px
    }
}
@keyframes wave2_2 {
    0% {
        left: -220px
    }

    50% {
        left: -190px
    }

    100% {
        left: -220px
    }
}
@keyframes wave3_3 {
    0% {
        left: -20px
    }

    50% {
        left: 0px
    }

    100% {
        left: -20px
    }
}
.home_2 {
    position: absolute;
    top: 90px;
    left: -400px;
}
.wave1_1 {
    position: absolute;
    bottom: -10px;
    left: -20px;
    z-index: 5;
    -webkit-animation-name: wave1_1;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-name: wave1_1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    pointer-events: none;
}
.wave2_2 {
    position: absolute;
    bottom: 10px;
    left: -220px;
    z-index: 4;
    -webkit-animation-name: wave2_2;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: wave2_2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    pointer-events: none;
}
.wave3_3 {
    position: absolute;
    bottom: 70px;
    left: -20px;
    z-index: 2;
    -webkit-animation-name: wave3_3;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-name: wave3_3;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    pointer-events: none;
}
.container-hlw {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-md-7, .col-md-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.title_light {
    font-family: "iCielBCPortico-Regular", Arial;
    text-align: center;
    letter-spacing: 5px;
    line-height: 28px;
    font-size: 19px;
    margin-bottom: 40px;
  font-weight: 600;
}
.section-2 .puppet {
    max-width: 60%;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: end;
    margin: 0 auto;
    bottom: -105px;
    position: relative;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-animation: cloudpage 2s ease-in-out forwards infinite;
    animation: cloudpage 2s ease-in-out forwards infinite;
}
.section-3 .top_content {
    position: relative;
    z-index: 3;
}
.text-center {
    text-align: center!important;
}
.section-3 iframe {
    display: block;
    border: none;
}
.section-3 .bottom_content {
    position: relative;
    top: -65px;
    margin-bottom: -80px;
}
.section-3 .bottom_content .text-content {
    padding-top: 90px;
}
.horror-text {
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: flickering;
  animation-timing-function: step-start;
  color: #912914;
  font-family: 'iCielBCGrindstone-Regular',Arial;
  font-size: 55px;
}
.horror-text span {
    display: block;
    font-size: 137px;
    text-align: center;
    line-height: 100px;
}
.center {
  left: 50%;
  position: absolute;
  top: 110px;
  transform: translate(-50%, -50%);
}
@keyframes flickering {
  0% {
    color: #912914;
    text-shadow: none;
    transform: skewX(0);
  }
  5% {
    color: #912914;
    text-shadow: none;
    transform: skewX(0);
  }
  10% {
    color: #912914;
    text-shadow: 1px 1px #eee;
    transform: skewX(-15deg);
  }
  15% {
    color: #ccc;
    text-shadow: none;
    transform: skewX(-15deg);
  }
  20% {
    color: #912914;
    text-shadow: none;
    transform: skewX(0);
  }
  25% {
    color: #ccc;
    text-shadow: 2px 2px #912914;
    transform: skewX(0);
  }
  30% {
    color: #ccc;
    text-shadow: 2px 2px #912914;
    transform: skewX(0);
  }
  35% {
    color: #ccc;
    text-shadow: 2px 2px #912914;
    transform: skewX(0);
  }
  37% {
    color: #ccc;
    text-shadow: 1px 1px #eee;
    transform: skewX(0);
  }
  40% {
    color: #912914;
    text-shadow: 1px 1px #eee;
    transform: skewX(0);
  }
  45% {
    color: #912914;
    text-shadow: 1px 1px #eee;
    transform: skewX(0);
  }
  50% {
    color: #912914;
    text-shadow: none;
    transform: skewX(0);
  }
  55% {
    color: #912914;
    text-shadow: none;
    transform: skewX(0);
  }
  60% {
    color: #912914;
    text-shadow: none;
    transform: skewX(0);
  }
  65% {
    color: #912914;
    text-shadow: none;
    transform: skewX(0);
  }
  68% {
    color: #912914;
    text-shadow: 1px 1px #eee;
    transform: skewX(0);
  }
  70% {
    color: #912914;
    text-shadow: 1px 1px #eee;
    transform: skewX(0);
  }
  75% {
    color: #912914;
    text-shadow: 1px 1px #eee;
    transform: skewX(10deg);
  }
  80% {
    color: #912914;
    text-shadow: 1px 1px #eee;
    transform: skewX(10deg);
  }
  85% {
    color: #912914;
    text-shadow: 1px 1px #eee;
    transform: skewX(10deg);
  }
  90% {
    color: #912914;
    text-shadow: none;
    transform: skewX(0);
  }
  95% {
    color: #912914;
    text-shadow: 1px 1px #eee;
    transform: skewX(0);
  }
  100% {
    color: #912914;
    text-shadow: none;
    transform: skewX(0);
  }
}

@media (min-width: 1200px) {
.container-hlw {
    max-width: 1140px;
}
}
@media (min-width: 768px) {
    .order-md-2 {
        -ms-flex-order: 2;
        order: 2;
    }
  .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (min-width: 768px) {
    .col-md-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
      .order-md-1 {
        -ms-flex-order: 1;
        order: 1;
    }
      .col-md-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
}
@media (min-width: 576px) {
    .margin-5 {
        margin-left: -5px;
        margin-right: -5px;
    }
      .padding-5 {
        padding-left: 5px;
        padding-right: 5px;
    }
      .col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (max-width: 768px) {
.home {
      padding-top: 200px;
    }
.puppet_3 {
    bottom: 75px;
    max-width: 150px;
    right: 181px;
}
.puppet_2 {
    bottom: 95px;
    max-width: 150px;
    right: 105px;
}
.puppet_1 {
    bottom: 75px;
    max-width: 150px;
    right: 30px;
}
  .section-1, section-2, section-3 {
    background: url(https://cdn.shopify.com/s/files/1/0644/2958/8701/files/z5942783537244_be4baf746934b573ea9e0332c1aeb01f_94176ad5-20d4-43cd-ae15-0a65b142e736.jpg?v=1729243552) repeat left center;
    width: 100%;
    height: 100%;
}
.section-1 .wave_wrap {
    height: 600px;
}
.cloud_1 {
    bottom: 45px;
    width: 250px;
    left: 170px;
    z-index: 1;
}
.cloud_2 {
    bottom: 5px;
    left: -27px;
    z-index: 4;
    width: 250px;
}
.md-block {
  display: block!important;
}
.wave1 {
    z-index: 3;
    width: 800px;
    bottom: 24px;
}
.wave2 {
    z-index: 4;
    width: 800px;
}
.wave5 {
    position: absolute;
    width: 800px;
    left: -38px;
    bottom: 50px;
    -webkit-animation-name: wave3_3;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-name: wave3_3;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    pointer-events: none;
}
.wave4 {
    position: absolute;
    width: 800px;
    bottom: 58px;
    right: 0px;
    -webkit-animation-name: wave1_1;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-name: wave1_1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    pointer-events: none;
}
.cloud_4 img {
    width: 100px;
}
.cloud_5 img {
    width: 80px;
}
.cloud_3 img {
    width: 75px;
}
.cloud_3 {
    bottom: 315px;
    right: 30px;
}
.cloud_4 {
    bottom: 245px;
    left: 20px;
}
/* .section-2 .wave_wrap {
    height: 100%;
} */
.section-2 {
  padding-bottom: 50px;
  /* height: 100%; */
}
.wave3_3 {
  width: 600px;
  bottom: 40px;
}
.wave2_2 {
  width: 800px;
  bottom: 5px;
}
.wave1_1 {
  width: 600px;
  bottom: 0px;
}
.section-2 .puppet {
  z-index: 3;
  max-width: 300px;
  width: 100%;
  bottom: -60px;
  left: 40%;
}
.section-3, .section-2 {
  padding-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
}
.home_2 {
    position: absolute;
    top: 72%;
    left: -429px;
    width: 650px;
}
.title_light {
  margin-bottom: 25px;
}
.section-3 .bottom_content {
    position: relative;
    top: 15px;
    margin-bottom: 50px;
}
.col-md-7, .col-md-6 {
  padding-left: 0;
  padding-right: 0;
}
.section-3 .bottom_content .text-content {
    padding-top: 10px;
}

  @keyframes cloudpage3 {
    0% {
        right: 0px;
    }

    50% {
        right: 20px
    }

    100% {
        right: 0px
    }
}
  @keyframes cloudpage4 {
    0% {
        left: 0px
    }

    50% {
        left: 20px
    }

    100% {
        left: 0px
    }
}
}
#shopify-section-template--18575544680669__custom_liquid_z97Utk .container {
  max-width: 100%;
  width: 100%;
  padding: 0;
}
</style>