<div class="befenit-container">
  <div class="befenit-section">
    <div class="befenit-section-header mb-30">
      <div class="h2 befenit-section-title">
        SẢN PHẨM ĐẶC BIỆT
      </div>
      <div class="befenit-section-des">
       Đây là những sản phẩm đặc biệt, không mở đăng ký sẵn! Quyền lợi đặt hàng chỉ dành cho hạng khách từ Platinum trở lên.
      </div>
    </div>
    <div class="befenit-section-items">
      <a class="befenit-section-item" href="/" alt="">
        <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/z6403181560241_6a6cbf82404415e9ba10c3e76fa7596c.jpg?v=1744108310" alt="">
        <button>Xem thêm</button>
      </a>
      <a class="befenit-section-item" href="/" alt="">
        <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/485723055_1398721014827997_4053935445584976209_n.jpg?v=1744108718" alt="">
        <button>Xem thêm</button>
      </a>
      <a class="befenit-section-item" href="/" alt="">
        <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/DSC03337.jpg?v=1744108018" alt="">
        <div class="item-overlay">
          <div class="h3 item-overlay-text">
            NEW COLLECTION
            <br>
            Coming Soon
          </div>
          <div class="item-overlay-countdown">
            00:00:00
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="befenit-section">
    <div class="befenit-section-header mb-30">
      <div class="h2 befenit-section-title">
        QUYỀN LỢI DÀNH RIÊNG
      </div>
      <div class="befenit-section-des">
        Nhóm sản phẩm giới hạn, cần đăng ký hoặc trong group
      </div>
    </div>
    <div class="befenit-section-items">
      <a class="befenit-section-item" href="/" alt="">
        <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/5.4_DESIGN_NH_M_BAN_NQSH_2.0-04_ff56a980-6b09-40fb-a56d-7e8e35dc926a.jpg?v=1743950081" alt="">
      </a>
      <a class="befenit-section-item" href="/" alt="">
        <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/5.4_DESIGN_NH_M_BAN_NQSH_2.0-04_ff56a980-6b09-40fb-a56d-7e8e35dc926a.jpg?v=1743950081" alt="">
      </a>
      <a class="befenit-section-item" href="/" alt="">
        <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/5.4_DESIGN_NH_M_BAN_NQSH_2.0-04_ff56a980-6b09-40fb-a56d-7e8e35dc926a.jpg?v=1743950081" alt="">
        <div class="item-overlay">
          <div class="h3 item-overlay-text">
            NEW COLLECTION
            <br>
            Coming Soon
          </div>
          <div class="item-overlay-countdown">
            00:00:00
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="befenit-section">
    <div class="befenit-section-header mb-30">
      <div class="h2 befenit-section-title">
        SỰ KIỆN SẮP TỚI
      </div>
      <div class="befenit-section-des">
        Đăng ký trải nghiệm
      </div>
    </div>
    <div class="befenit-section-items">
      <a class="befenit-section-item" href="/" alt="">
        <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/5.4_DESIGN_NH_M_BAN_NQSH_2.0-04_ff56a980-6b09-40fb-a56d-7e8e35dc926a.jpg?v=1743950081" alt="">
        <div class="item-overlay">
          <div class="h3 item-overlay-text">
            NEW COLLECTION
            <br>
            Coming Soon
          </div>
          <div class="item-overlay-countdown">
            00:00:00
          </div>
        </div>
      </a>
      <a class="befenit-section-item" href="/" alt="">
        <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/5.4_DESIGN_NH_M_BAN_NQSH_2.0-04_ff56a980-6b09-40fb-a56d-7e8e35dc926a.jpg?v=1743950081" alt="">
        <div class="item-overlay">
          <div class="h3 item-overlay-text">
            NEW COLLECTION
            <br>
            Coming Soon
          </div>
          <div class="item-overlay-countdown">
            00:00:00
          </div>
        </div>
      </a>
      <a class="befenit-section-item" href="/" alt="">
      </a>
    </div>
  </div>
</div>
<style>
.mt-30 {
  margin-top: 30px;
}
.mt-10 {
  margin-top: 10px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-10 {
  margin-bottom: 10px;
}
.m-20 {
  margin: 20px 0;
}
.befenit-container {
  max-width: 100%;
}
.befenit-section {
  margin: 60px auto;
}
.befenit-section-items {
  display: flex;
  gap: 20px;
}
.befenit-section-item {
  position: relative;
  flex-basis: 100%
}
.item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #111111bf;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 1100px) {
  .befenit-section-items {
  flex-wrap: wrap;
}
}
</style>